:host {

  .hexagon {
    cursor: pointer;
    overflow: hidden;
    transform: rotate(120deg);
    visibility: hidden;
  }

  .hexagon-in1 {
    height: 100%;
    overflow: hidden;
    transform: rotate(-60deg);
    width: 100%;
  }

  .hexagon-in2 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    transform: rotate(-60deg);
    visibility: visible;
    width: 100%;
  }

  .inner {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

}
