<div class="hexagonRotateLeft" (click)="clicked()">
  <div class="hexagonRotateRight">
    <div class="tile"
        [contextMenu]="basicMenu"
        [style.background-image]="tileBackground"
        [style.width.px]="width"
        [style.height.px]="height">
        <div class="tint" [style.background]="tintString"></div>
        <div class="overlay"
          [style.background-image]="overlayImageString"
          [style.margin-top.px]="height/4"
          [style.margin-left.px]="width/4"
          [style.width.px]="width/2"
          [style.height.px]="height/2">
        </div>
    </div>
  </div>
</div>

<context-menu #myContextMenu>
  <ng-template *ngFor="let action of contextMenuActions" contextMenuItem let-item
    [visible]="action.visible" [enabled]="action.enabled" [divider]="action.divider"
    (execute)="showMessage(action)">
    {{action.displayName}}
  </ng-template>
</context-menu>
