:host {

  .hexagonRotateLeft {
    cursor: pointer;
    overflow: hidden;
    transform: rotate(120deg);
    visibility: hidden;
  }

  .hexagonRotateRight {
    height: 100%;
    overflow: hidden;
    transform: rotate(-60deg);
    width: 100%;
  }

  .tile {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    transform: rotate(-60deg);
    visibility: visible;
    width: 100%;
  }

  .tint {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .overlay {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .border {
    // border-style: solid;
    // border-width: 3px;
    // border-color: black;
  }

}
