<!-- Clean up this file, better names -->
<div class="hexagon" (click)="clicked()">
  <div class="hexagon-in1">
    <div class="hexagon-in2"
        [contextMenu]="basicMenu"
        [style.background-image]="imageString"
        [style.width.px]="width"
        [style.height.px]="height">
        <div class="inner"
          [style.background-image]="overlayImageString"
          [style.margin-top.px]="height/4"
          [style.margin-left.px]="width/4"
          [style.width.px]="width/2"
          [style.height.px]="height/2">
        </div>
    </div>
  </div>
</div>

<context-menu #myContextMenu>
  <ng-template *ngFor="let action of contextMenuActions" contextMenuItem let-item
    [visible]="action.visible" [enabled]="action.enabled" [divider]="action.divider"
    (execute)="showMessage(action)">
    {{action.displayName}}
  </ng-template>
</context-menu>
