/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  overflow-x: hidden;

  context-menu-content {
    // TODO: this is where css changes can go to make the context menu better
    // NOTE: the padding/margin left should always be the same absolute value

    .ngx-contextmenu {
      background: white;
      min-width: 150px;
      opacity: .75;

      li {
        list-style: none;

        .dropdown-item {
          color: black;
          font-size: 1.5em;
          text-decoration: none;
        }

        .disabled {
          color: gray;
          cursor: no-drop;
        }
      }

      .dropdown-divider {
        border-bottom: 3px solid black;
        margin-bottom: 3px;
        margin-left: -1em;
        margin-top: 3px;
      }

      .dropdown-menu {
        border: 2px solid black;
        padding-left: 1em;
      }

    }

  }

}
