
:host {
  .container {
    display: flex;
    flex-direction: column;

    .even {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .odd {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

  }

}
