
:host {
  .container {
    display: flex;
    flex-direction: column;

    .even {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .odd {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      // margin-left: 104px;
      // margin-top: -60px;
    }


  }


}
