
:host {

  //overflow: hidden;

  drag-scroll {
    height: 100vh;
    width: 100vw;
  }

  .container {
    display: flex;
    flex-direction: column;

    .even {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .odd {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

  }

}
